@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E9F8;
}

a {
    text-decoration: none;
    color: black;
}

.imagens{
    display: flex;
    justify-content: center;
    gap: 800px;
}

ol{
    list-style-type: none;
}

.Lista_icones{
    display: flex;
}

header{
    margin-top: 30px;
}

.Lista_icones, .lupa{
    margin-top: 10px;
}

nav ol{
    display: flex;
    justify-content: center;
    gap: 80px;
}

nav{
    margin-top: 20px;
}

.Elegancia img{
    width: 100%;
    margin-top: 30px;
}

.itens{
    display: flex;
    gap: 5px;
    margin: 0 auto;
    max-width: 85em;
    margin-top: 5px;
}

.camisa_linho, .birken, .bone {
    transition: transform 0.3s ease, z-index 0.3s ease; 
}

.bone:hover {
    transform: scale(0.9); 
    z-index: 10; 
}

.birken:hover {
    transform: scale(0.9); 
    z-index: 10;
}

.camisa_linho:hover {
    transform: scale(0.9); 
    z-index: 10;
}

footer {
    justify-content: center; 
    display: flex;
    margin-top: 20px;
    align-items: center; 
    margin-bottom: 10px;
}

nav ol li{
    border-bottom: 1px solid black;
}

